*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

nav{
    top: 0%;
    left: 0%;
    line-height: 3em;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
   
}

/* grandezze */

.title{
    font-size: 5em;
}

.padding{
    padding: 1em;
}

.padding-domande{
    padding: 2em 3em 2em 0;
}

.padding-top{
    padding-top: 2em;
}

.padding-right-1 {
    padding-right: 1em;
}

.padding-right-4 {
    padding-right: 4em;
}

.padding-bottom-2{
    padding-bottom: 2em;
}

.padding-left-4{
    padding-left: 4em;
}

.widht-10{
    width: 10%;
}
.width-30{
    width: 30%;
}

.width-40{
    width: 40%;
}

.width-50{
    width: 50%;
}

.width-70{
    width: 70%;
}

.width-88{
    width: 88%;
}

.widht-100{
    width: 100%;
}

.height-15{
    height: 15em;
}

.height-60{
    min-height: 60em;
}

/* margini */

.marg-top-main{
    margin-top: 6em;
}

.marg-top-1{
    margin-top: 1em;
}

.marg-top{
    margin-top: 2em;
}

.marg-top-6{
    margin-top: 6em;
}

.marg-bottom{
    margin-bottom: 2em;
}

.marg-right{
    margin-right: 1em;
}

.marg-right-3{
    margin-right: 3em;
}

.marg-left{
    margin-left: 2em;
}

.marg-left-03{
    margin-left: 0.3em;
}

.marg-left-10{
    margin-left: 10em;
}

.relative-top{
    top: 6em;
}

/* font-size */

.font-size, .arrow{
    font-size: 2em;
     color: black;
}

/* Position */

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.relative{
    position: relative;
}


.absolute{
    position: absolute;
}

.float-s{
    float: left;
}

.float-d{
    float: right;
}

.overflow{
    overflow: auto;
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.vertical-sub{
    vertical-align: sub;
}

/* color */

.light-grey{
    color: lightgrey;
}

.light-blue{
    color: #3280FF;
}

.color-dark-red{
    color: #61082B;
}

.light-azzu{
    background-color: #0093CE;
}

.grey{
    color: grey;
}

.color-header{
    background-color:#AEC9DF;
}

.dark-red{
    background-color: #61082B;
}
.red{
    background-color: red;
}

.light-green{
    background-color: #A2D39B;
}

.beige{
    background-color: #F5F5F5;
}

.green-opacity{
    background-color: #D0E9CD;
}


/* inizio colonna */

.col-s, .col-d{
    height: 50px;
    padding-left:  1em;
}


.menu-inline{
    display: inline-block;
    list-style-type: none;
}

.menu-inline li{
    display: inline-block;
    padding: 2em;
    line-height: 1em;
}

.menu-inline li :hover{
    padding-bottom: 1em;
    border-bottom: 2px solid black;
}



li a{
    text-decoration: none;
    color: black;
}

/* bottone */

button.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 1em;
    line-height: 2em;
    background-color: #0061FF;
  }

button.btn-white {
    color: white;
  }

button.btn:hover,
button.btn:active,
button.btn:focus {
  color:black;
  text-decoration: none;
}

/* inizio-header */

#header{
    width: auto;
    background-color:#AEC9DF ;
}

.width-jambo{
    margin-top: 3em;
    width: 100%;

}

.container-jambo{
    height: auto;
    width: 60%;
    margin:  0 auto;
    padding-top: 5%;  
}

.ridime-img{
    background-size: cover;
    height: 500px;
    margin-left: 6em;
}

.paragrafo{
    margin-bottom: 2em;
    line-height: 1.5em;
}

.arrow{
    font-size: 2em;
    color: black;
}

/* bordo */

.bordo-footer{
    border-top: 1px solid white;
}

.bordo-top{
    border-bottom: 1px solid lightgrey;
}

.bordo-bottom{
    border-bottom: 1px solid lightgrey;
}
.bordo{
    border: 1px solid #E9E9EA;
}

/* inizio-main */

.container-main{
    width: 100%;
    text-align: center;
}

/* 3-container */

.container-s{
    width: calc(100% / 3 - 2em);
}
.container-c{
    width: calc(100% / 3 - 2em);
    margin-left: 3em;
    margin-right: 3em;
}

.menu-main{
    list-style-type: none;
    margin-bottom: 1em;
    text-align: left;
    margin-left: 3em;
}

.menu-main li{
    margin-bottom: 2em;
}

/* allinea */

.align-marg{
    text-align: left;
    margin-left: 3em;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
    margin-right: 3em;
}

.align-top{
    vertical-align: top;
}

.align-center{
    text-align: center;
}
.menu-main .fa-check{
    color: #3280FF;
}

/* conteiner-6-float */

.img-opera{
    background-size: cover;
    object-fit: contain;
    text-align: center;
    max-width: 100%;
    max-height: auto;
}


#btn-main{
    background-color: white;
    color: black;
}

/* 4-container */

.container-4{
    width: 50%;
    height: 16em; 
}


.container-inside{
    width: 90%;
    height: 90%;
    
}

.img-s{
    background-size: cover;
    text-align: center;
    max-width: 50%;
    max-height: auto;
    top: 30%;
    left: 25%;
    filter: invert(1);
}

.img-designit{
    background-size: cover;
    max-width: 30%;
    top: 35%;
    left: -5%;
}

.transform{
    transform: translate(-0%, 50%);
}

/* footer */

footer{
    width: 100%;
    background-color: black;
}

.col-footer{
    width: calc(100% / 5 - 3em);
    margin-top: 4em;
    height: 16em;
}

.ul-footer li{
    list-style-type: none;
    padding: 1em 0  1em 0;
    line-height: 0.3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ul-footer a{
    color: white;
    text-decoration: none;
    text-align: center; 
}

.ul-footer .size{
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.ul-footer li :hover{
    border-bottom: 1px solid white;
}




/* hover-domande frequenti */


  .cambio1:hover .descrizione
  {
      display: block;
  }

  .descrizione{
      display: none;
  }
  

  .cambio1:hover .freccia-b{
      visibility: collapse;
      display: table;
  }

  .freccia-a{
      visibility: hidden;
  }
  
  .cambio1:hover .freccia-a{
      visibility: visible;
      margin-left: 300px;
  }

  .margin-left-300{
      margin-left: 300px;
  }